page-api-popover {

    .popover-content{
        min-width: 50vw !important;
        min-height: 40vh !important;
    }

    .no-scroll  {
        overflow: scroll;
        overflow-x: hidden !important;
        overflow-y: hidden !important;
   }
}
