<ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header>

<ion-content padding class="card-background-page">

    <ion-grid no-padding justify-content-center align-items-center>
        <ion-row>
          <ion-col col-12 col-sm-9 col-md-6 col-lg-4 col-xl-3 *ngFor="let statement of statements">
              
            <ion-card>
              <img src="../../assets/imgs/slide-bg.jpg"/>
              <div class="card-title">{{statement.title}}</div>
              <div class="card-subtitle">{{statement.description}}</div>
            </ion-card>
                
                  
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-12 col-sm-9 col-md-6 col-lg-4 col-xl-3 *ngFor="let step of steps">
              <ion-card>
                  <img src="{{step.image}}"/>
                  <ion-card-content>
                    <ion-card-header>
                      Step {{step.number}}
                    </ion-card-header>
                    <p>
                      {{step.title}}
                      </p>
                      <p>
                      {{step.description}}
                    </p>
                  </ion-card-content>                          
                </ion-card>
          </ion-col>         
        </ion-row>
    </ion-grid>

  

</ion-content>

<ion-footer>
  <ion-navbar>
  </ion-navbar>
</ion-footer>
