<ion-header>
  <ion-navbar color="custom">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-menu [content]="content">

  <ion-header>
    <ion-toolbar color="custom">
      <ion-title>{{title}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-card menuClose ion-item *ngFor="let page of pages" (click)="open(page)">
      <ion-card-content>
        <ion-card-title>
          {{page.title}}
        </ion-card-title>
        <p>
          {{page.description}}
        </p>
      </ion-card-content>
    </ion-card>

<!--
    <ion-list>
      <button menuClose ion-item *ngFor="let page of pages" (click)="open(page)">

         {{p.title}}
      </button>
    </ion-list> -->
  </ion-content>

  <ion-footer>
    <ion-navbar padding text-center color="custom">
      <ion-note float-left color="light">{{version}}</ion-note>
    </ion-navbar>
  </ion-footer>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>

<ion-footer>

  <ion-navbar padding text-center color="custom">

    <!--
    <ion-label color="light" float-left>&copy; ApiVentory</ion-label>
    <button ion-button small clear float-right color="light">Help</button>
    <button ion-button small clear float-right color="light">Legal</button>
    <button ion-button small clear float-right color="light">About</button>
    -->


    <label float-left class="text-light">&copy; {{title}}</label>
    <a href="#" float-right class="text-light" padding-horizontal *ngFor="let link of links" (click)="open(link)">{{link.title}}</a>

  </ion-navbar>

</ion-footer>
