<ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-list no-border no-lines>

      <ion-list-header no-lines>
        Active 
      </ion-list-header>

      <ion-item *ngFor="let activeApi of activeApis">
        <ion-badge item-start>{{activeApi.type}}</ion-badge>
        <ion-toggle checked="true"></ion-toggle>
        <ion-label (click)="present(activeApi)">
          {{activeApi.title}}
        </ion-label>      
      </ion-item>

      <ion-list-header no-lines>
        Available 
      </ion-list-header>

      <ion-item *ngFor="let availableApi of availableApis">
        <ion-badge item-start>{{availableApi.type}}</ion-badge>
        <ion-toggle checked="false"></ion-toggle>
        <ion-label>
          {{availableApi.title}}
        </ion-label>      
      </ion-item>

    </ion-list>

    <button ion-button color="primary" full clear>Dashboard</button>

</ion-content>

<ion-footer>
  <ion-navbar>
  </ion-navbar>
</ion-footer>
